<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <appender name="REPORT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <logger name="wgauvin.Robot.REPORT_LOGGER" level="INFO" additivity="false">
    <appender-ref ref="REPORT_CONSOLE" />
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
